<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StockFishPath" value="D:\Users\Murad\StockFish\stockfish-windows-x86-64-avx2.exe" />
		<add key="Elo" value="1500"/>
		<add key="Timeout" value="5000"/>
		<add key="Threads" value="8"/>
	</appSettings>
</configuration>